body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaflet-container {
  width: 90vw;
  height: 90vh;
  border-radius: 5px;
  border: solid 2px black;
}

/* Hide zoom controls on mobile devices */
@media (max-width: 375px) {
  .leaflet-control-zoom-in, 
  .leaflet-control-zoom-out {
    display: none !important;
  }
}
