body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaflet-container {
  width: 90vw;
  height: 90vh;
  border-radius: 5px;
  border: solid 2px black;
}

.leaflet-control-attribution {
  display: none !important;
}

.os-road-bg {
  background: #d5eff8 !important;
}

.os-outdoor-bg {
  background: #a9ddef !important;
}

.os-light-bg {
  background: #d7e0e5 !important;
}

.esri-satellite-bg {
  background: none;
}

@media (max-width: 375px) {
  .leaflet-control-zoom-in, 
  .leaflet-control-zoom-out {
    display: none !important;
  }
}

