@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');
/* @import url('https://unpkg.com/leaflet.fullscreen/Control.FullScreen.css'); */
@import url('https://unpkg.com/leaflet.locatecontrol/dist/L.Control.Locate.css');

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaflet-container {
  width: 80vw;
  height: 80vh;
  border-radius: 5px;
  border: solid 2px black;
}

